.list-item {
    padding: 16;
}

.list-item-icon {
    height: 40;
    width: 40;
    border-radius: 20;
    margin-right: 16;
    vertical-align: top;
}

.list-item-title {
    font-size: 16;
    color: $primary-text-color;
}

.list-item-secondary {
    font-size: 14;
    color: $secondary-text-color;
}

.location-separator {
    margin-left: 6;
    margin-right: 6;
}

.picture-icon {
    font-size: 22;
    horizontal-align: center;
    text-align: center;
}

.final-rating {
    font-size: 32;
    horizontal-align: center;
    vertical-align: center;
}

.final-rating-4 {
    color: #007C00;
}

.final-rating-3 {
    color: #7BB800;
}

.final-rating-2 {
    color: #FFD300;
}

.final-rating-1 {
    color: #FF7400;
}

.final-rating-0 {
    color: #C50000;
}