@import "../../styles/_material-theme";

.fab-button {
    height: 70;
    margin: 15;
    background-color: $accent-color;
    horizontal-align: right; /* Android Only */
    vertical-align: bottom; /* Android Only */
    color: #fff;  /* iOS Only */
}

.list-item {
    height: 88;
    padding-left: 16;
    padding-right: 16;
    padding-bottom: 20;
    padding-top: 20;
}

.list-item-icon {
    height: 24;
    width: 24;
    horizontal-align: left;
}

.list-item-title {
    font-size: 16;
    color: $primary-text-color;
}

.list-item-secondary {
    font-size: 14;
    color: $secondary-text-color;
}