<ion-navbar *navbar secondary>
  <ion-title>Nouvelle dégustation</ion-title>
  <ion-buttons end>
    <button (click)="saveTasting()">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>
    <form #tasteForm="ngForm" novalidate padding>
        <ion-label class="label">Attaque</ion-label>
        <button [class.button-outline]="!i.isSelected" [class.text-light]="i.isSelected" round small *ngFor="#i of attacks" (click)="selectCriteria(i, 'attacks')">{{ i.label }}</button>
        <ion-label class="label">Equilibre</ion-label>
        <button [class.button-outline]="!i.isSelected" [class.text-light]="i.isSelected" round small *ngFor="#i of balances" (click)="selectCriteria(i, 'balances')">{{ i.label }}</button>
        <ion-label class="label">Finale</ion-label>
        <button [class.button-outline]="!i.isSelected" [class.text-light]="i.isSelected" round small *ngFor="#i of length" (click)="selectCriteria(i, 'length')">{{ i.label }}</button>
        <ion-label class="label">Commentaires</ion-label>
        <ion-textarea [(ngModel)]="tasting.taste.notes" #tasteNotes="ngForm"></ion-textarea>
    </form>
</ion-content>