@import "_material-theme";

.bottom-navigation {
    background-color: $primary-color;
    height: 56;
    color: $primary-color-text;

    .icon {
        horizontal-align: center;
        font-size:46;
    }

    .icon-selected {
        @extend .icon;
    }

    .icon-unselected {
        @extend .icon;
        vertical-align: center;
    }

    .wine-icon {
        horizontal-align: center;
        font-size: 32;
    }

    .wine-icon-unselected {
        @extend .wine-icon;
        margin-top: 8;
    }

    .wine-icon-selected {
        @extend .wine-icon;
    }

    .label {
        horizontal-align: center;
        vertical-align: bottom;
        margin-bottom: 4;
    }

    .label-unselected {
        @extend .label;
        visibility: collapse;
    }

    .label-selected {
        @extend .label;
        visibility: visible;
    }

    .aromas-icon {
        margin-top: 3;
    }
}