@import "_material-theme";
@import "_fonts";

ActionBar {
    color: $primary-color-text;
}

.white-button {
    background-color: $primary-color-text;
}

.accent-button {
    background-color: $accent-color;
    color: $primary-color-text;
}

.modal-button {
    height: 60;
    margin: 10;
}