@import "_material-theme";

.fab-button {
    height: 70;
    margin: 15;
    background-color: $accent-color;
    horizontal-align: right;
    vertical-align: bottom;
}

.fab-button-delete {
    height: 45;
    margin-right: 22;
    margin-bottom: 80;
    background-color:red;
    horizontal-align: right;
    vertical-align: bottom;
}