@import "../../styles/_common";

#searchBar {
    color: $primary-color-text;
    background-color: $primary-color;
    padding: 16;
    font-size: 18;
}

.list-item {
    height: 52;
    font-size: 16;
    color: $primary-text-color;
    padding: 16;

    .left-icon {
        margin-right: 32;
    }
}

.expanded-item {
    color: $accent-color;
}

.items-list {
    margin-left: 50;
}

.title {
    font-size: 20;
    margin: 20;
}

.validate-button {
    background-color: $accent-color;
    color: $primary-color-text;
    height: 60;
    font-size: 16;
}

.check-icon {
    horizontal-align: right;
}
