@import "../../styles/_common";

#searchBar {
    color: $primary-color-text;
    background-color: $primary-color;
    height:60;
}

.list-item {
    height: 52;
    font-size: 16;
    color: $primary-text-color;
    padding: 16;
}

.list-item-selected {
    color: $accent-color;
}

.validate-button {
    background-color: $accent-color;
    color: $primary-color-text;
    height:60;
    font-size:16;
}

.material-icon {
    horizontal-align: right;
}