<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>93669445948-1lclnoisfovf0dh6ec1abd7tek0o8slg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93669445948-1lclnoisfovf0dh6ec1abd7tek0o8slg</string>
	<key>API_KEY</key>
	<string>AIzaSyAGd6Ub5hX-7h59Ol1nLfuSgMyvwJO7Xow</string>
	<key>GCM_SENDER_ID</key>
	<string>93669445948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winenjoy.app</string>
	<key>PROJECT_ID</key>
	<string>project-5937022874538218377</string>
	<key>STORAGE_BUCKET</key>
	<string>project-5937022874538218377.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:93669445948:ios:f0193d77fcceb4ed</string>
	<key>DATABASE_URL</key>
	<string>https://winenjoy.firebaseio.com</string>
</dict>
</plist>