@import "../../styles/_common";

#searchBar {
    color: $primary-color-text;
    background-color: $primary-color;
    height:60;
}

.list-item {
    height: 48;
    font-size: 16;
    color: $primary-text-color;
    padding: 16;

    .winenjoy-icon {
        margin-right: 32;
    }
}

.expanded-item {
    color: $primary-color;
}

.countries-list {
    margin-left: 50;
}

.title {
    font-size: 20;
    margin:20;
}