<ion-navbar *navbar secondary>
  <ion-title>Winenjoy</ion-title>
</ion-navbar>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="#tasting of tastings" (click)="viewTasting(tasting)">
            <ion-avatar item-left [style.backgroundColor]="tasting.sight.color"></ion-avatar>
            <h2 *ngIf="tasting.informations.cuvee">{{ tasting.informations.cuvee }}</h2>
            <h6 *ngIf="tasting.informations.estate">{{ tasting.informations.estate }}</h6>
            <p *ngIf="tasting.informations.region || tasting.informations.country">
                <span *ngIf="tasting.informations.region && !tasting.informations.country">{{ tasting.informations.region }}</span>
                <span *ngIf="tasting.informations.region && tasting.informations.country">{{ tasting.informations.region + ' - ' + tasting.informations.country }}</span>
                <span *ngIf="!tasting.informations.region && tasting.informations.country">{{ tasting.informations.regcountryion }}</span>
            </p>
            <div item-right text-center>
                <p *ngIf="tasting.informations.year"><small>{{ tasting.informations.year }}</small></p>
                <img *ngIf="tasting.synthesis.rating" src="img/{{ tasting.synthesis.rating }}.svg" class="rating-img" />
            </div>
        </button>
    </ion-list>
</ion-content>

<button fab fab-bottom fab-right (click)="createTasting()" style="z-index: 99">
    <ion-icon light name="ios-wine"></ion-icon>
</button>