.rating-img {
    height: 2rem;
    width:2rem;
    margin-top:0.5rem;
}

.empty-message {
    margin-top: 30%;

    img {
        height: 15rem;
        width: 15rem;
    }

    h5 {
        color: #FFC107;
    }

    button {
        margin-top: 5rem;
    }
}