@import "../../styles/_common";
@import "../../styles/_form";

DropDown {
    font-size: 18;
    height: 34;
    text-align: center;
}

TextField,
SearchBar {
    color: $secondary-text-color;
    font-size: 16;
}