@import "../../styles/_common";
@import "../../styles/_values-selector";
@import "../../styles/_form";
@import "../../styles/_final-rating";

CardView {
    margin: 6;
}

Page {
    background-color: $primary-color-light;
}

#progressContainer {
    background-color: $primary-color;
}

Progress {
    background-color: $primary-color-light;
}

SegmentedBar {
    margin-bottom: 12;
}

.gradient-color-scroll-view {
    background-color: white;
    margin: 6;
    padding: 6;
}